

.section-1{
    background-image: url("https://i.ibb.co/P4RR8wQ/left-box-bg.jpg");
    height: 260px;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 28px;
    position: relative;
    overflow: hidden;
    color: white;
   

}


.section-2{
    
    background-image: url("https://i.ibb.co/3pYYMCT/center-box-bg.jpg");
    height: 260px;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 28px;
    position: relative;
    overflow: hidden;
    color: white;

    

} 

.section-3{
    
    background-image: url("https://i.ibb.co/Jyq1DmV/right-box-bg.jpg");
    height: 260px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    color: white;
   

 }

.section-3-title{
    font-size: 30px;
  
}

.app-btn{
    border: 2px solid white;
    border-radius: 22px;
    color: white;
}

.app-btn:hover{
    background-color: white;
}

.overlay1, .overlay3{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background: rgba(0,79,178,.9);
}

.overlay2{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';
    background: rgba(0,129,232,.9);
    
}