.nav-bg{
    background-color: rgb(83, 206, 206);
    border-bottom: 2px solid rgb(14, 8, 8);
}

.text-color{
    color:white !important;
}
.text-color:hover{
    color:rgb(13, 22, 32) !important;
}

.title{
    font-size: 25px !important;
}

.log-btn{
    border: 1px solid rgb(17, 15, 15);
}
.log-btn:hover{
    color:white !important;
}